
.navBar
{
  color: whitesmoke;
  background-color: black;
  height: 70px;
  font-size: 25px;

}

.navBarLinks{
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

.logo{
  margin-left: -165px;
  width: 2.5%;
  margin-top: -11px;
}

.navBarItem{
  padding-left: 50px;
}

.Container-dark > .navBar{
  background-color: #949494;
  color: #000;
} 

.Container-dark .navBarItem > a{
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.navBarItem > a{
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
}

.navBarItem > a:hover{
  text-decoration: underline;
}

.navBarBurger{
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;

}

nav.dark{
  background-color: whitesmoke;
}

nav.light{
  background-color: black;
}

a.active{
  background-color: #000;
}

.Container-dark  a.active{
  background-color: #949494;
}

@media screen and (max-width: 767px){
  .logo {
    display: none;
  }

  
  .Container-dark a.active{
    background-color: #000;
    color: whitesmoke;
  }

  .Container-dark .navBarItem > a{
    color: whitesmoke;
  }

  .navBarLinks {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    height: 100vh;
    background-color: black;
    visibility: hidden;
   
  }

  .showNav .navBarLinks{
    right: 0;
    width: 100vw;
    visibility: visible;
  }

  .navBarItem{
    padding-left: 0px;
    padding-bottom: 60px;
  }

  .navBarBurger{
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 3;
  }

  .navBarBurger:hover{
    cursor: pointer;
    z-index: 3;
  }

  .navBar.hideNav{
    padding: 1px;
    position: fixed;
    top: 0px;
    width: 844px;
}
  .burgerBar,
  .burgerBar::before,
  .burgerBar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    left: -300px;
    border-radius: 3px;
    background: whitesmoke;
    transition: all .5s ease-in-out;
    z-index: 3;

  }

  .burgerBar::before,
  .burgerBar::after {
    content:"";
    position: absolute;
    left: 0;
    z-index: 3;
    
  }
  
  .burgerBar::before{
    transform: translateY(-12px);
    z-index: 3;
}

  .burgerBar::after {
    transform: translateY(12px);
    z-index: 3;
}

  .showNav .burgerBar{
    width: 0;
    background: transparent;
    z-index: 3;
}

.showNav .burgerBar::before{
  transform: rotate(45deg);
  z-index: 3;
}

.showNav .burgerBar::after{
  transform: rotate(-45deg);
  z-index: 3;
}

.navBarLinks{
  z-index: 2;
}
}