.inputAdd{
  width: 97.6%;
  height: 30px;
  font-size: 16px;
}

.Container-dark .inputAdd{
  color: black;
  background-color: #949494;
}

@media screen and (max-width: 767px){  
.inputAdd{
  width: 95%;
  height: 15px;
  font-size: 16px;
  }
}





