.texteChamps{
  color: whitesmoke;
  background-color: black;
  font-size: 25px;
}

.texteChamps th{
  border: 1px solid gray;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 52px;
  padding-right: 60px;
  text-align: center;
}

.texteChamps td{
  border: 1px solid gray;
  color: black;
  text-align: center;
  background-color: whitesmoke;
}

.champs{
  border: 1px solid black;
  height: auto;
  width: 740px;
  font-size: 25px;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
}

.buttonAdd{
  background-color: #000;
  border: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-left: -300px;
  margin-bottom: 5px;
  width: 250px;
  height: 50px;
}

.enregistrer{
  background-color: #000;
  border: none;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 435px;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 250px;
  height: 50px;
}

.film{
  display: flex;
  justify-content: space-evenly;
}

.Container-dark .buttonAdd{
  color: #000;
  background-color: #e5e5e5;
}

.Container-dark .enregistrer{
  color: #000;
  background-color: #e5e5e5;
}



.Container-dark .texteChamps td{
  color: black;
  background-color: #949494;
}

@media screen and (max-width: 767px){  
  .texteChamps{
    font-size: 15px;
  }
  
  .texteChamps th{
    padding-left: 2px;
    padding-right: 2px;
  }
  
  .champs{
    width: 370px;
  }
  
  .buttonAdd{
    margin-left: 9px;
    margin-top: 20px;
    width: 145px;
    height: 45px;
  }
  
  .enregistrer{
    margin-left: 9px;
    margin-top: 20px;
    width: 145px;
    height: 45px;
  }
  
  .film{
    flex-direction: column;
  }
}

