.histoire h1{
  font-weight: bold;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.histoire h2{
  font-weight: bold;
  font-size: 30px;
  padding-left: 60px;
  padding-bottom: 0px;
  text-decoration: underline;
 
}

.texte{
  font-size: 20px;
  padding: 60px;
  text-align: justify;
}

.pictureRight > img{
  margin-right: 50px;
  margin-bottom: 50px;
  border: 1px solid black;
}

.Container-dark .pictureRight > img{
  border: 1px solid whitesmoke;
}

.histoire{
  display: flex;
}

.description{
  font-style: italic;
  font-size: 15px;
  padding-left: 5px;
  padding-bottom: 50px;
  margin-top: -45px;
}

.godzilla{
  margin-top: 280px;
  height: 307px;
  width: 220px;
}

.kitano{
  margin-top: 2200px;
  height: 307px;
  width: 220px;
}

@media screen and (max-width: 767px){
  .texte{
    padding: 30px;
  }

  .histoire{
    flex-direction: column;
    align-items: center;
  }

  .histoire h2{
    word-wrap: break-word;
    padding-right: 60px;
    padding-left: 30px;
  }

  .pictureRight > img{
    margin-left: 40px;
  }

  .description{
    padding-left: 48px;
    padding-bottom: 50px;
    margin-top: -45px;
  }

  .godzilla{
    margin-top: 0px;
    height: 307px;
    width: 220px;
  }
  
  .kitano{
    margin-top: 0px;
    height: 307px;
    width: 220px;
  }
}