.card{
  display:flex;
  margin-top: 80px;
  margin-bottom: 50px;
  justify-content: space-evenly;
}



.inside{
  height: 306px;
  width: 280px;
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  margin-bottom: 20px;
  background-color: #e5e5e5;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.33);
  border-radius: 10px;
}

.inside img
{
  height: 212px;
}


.buttonCard{
  
  height: 92px;
  width: 280px;
  margin-top: -20px;
  border: none;
  cursor: pointer;
}

.buttonCard.button{
  background-color: #e5e5e5;
}

.buttonCard span{
  color: #000;
  background-color: #e5e5e5;
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
}

.inside > img{
  border-radius: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px){
  .card{
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }

  .inside{
    margin-bottom: 20px;
  }
}