.Home h2{
  font-weight: bold;
  font-size: 50px;
  padding: 20px;
}

.Home p{
  font-size: 20px;
 
}

.Home a{
  font-size: 5px;
}

body{
  background-color: whitesmoke;
}

.text{
  font-size: 50px;
  margin-top: 350px;
  
}

.Container{
  height: auto;
  overflow: hidden;
}

.Container-dark {
  background-color: #000;
  color: whitesmoke;
}

.Container-dark .inside{

  background-color: rgb(52, 51, 51);
  box-shadow: 5px 5px 15px 5px rgba(164, 164, 164, 0.25);
}


.Container-light {
background-color: whitesmoke;
color: #000;
}


@media screen and (max-width: 767px){
  .text{
    margin-top: 100px;
  }

  .Container-dark .navBarItem{
    color: whitesmoke;
  }
}
