.Home h2{
  font-weight: bold;
  font-size: 50px;
  padding: 20px;
}

.Home p{
  font-size: 20px;
 
}

.Home a{
  font-size: 5px;
}

body{
  background-color: whitesmoke;
}

.text{
  font-size: 50px;
  margin-top: 350px;
  
}

.Container{
  height: auto;
  overflow: hidden;
}

.Container-dark {
  background-color: #000;
  color: whitesmoke;
}

.Container-dark .inside{
  border: 1px solid whitesmoke;
}

.Container-dark .inside > img{
  border-bottom: 1px solid whitesmoke;
}

.Container-light {
background-color: whitesmoke;
color: #000;
}

@media screen and (max-width: 767px){Home
  .text{
    margin-top: 80px;
  }

  .Container-dark .navBarItem{
    color: whitesmoke;
  }
}
